<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
        <add key="port" value="55556"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
    <connectionStrings>
        <clear/>
        <add name="agentiedeturism" connectionString="Server=localhost;Port=5432;Database=agentiedeturism;User Id=postgres;Password=pinguin;" />
    </connectionStrings>
</configuration>